body{
    background: url('../images/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    position:absolute;
    font-weight: 700;
    font-size: 80px;
    color:rgb(188, 198, 206);
    cursor:pointer;
}